.home-main-container {
  height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  position: relative;
}

.home-welcome-screen {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadeIn 1s ease-out;
}

.home-logo-container {
  position: relative;
  width: 180px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

/* خود تصویر لوگو */
.home-logo {
  width: 180px;
  height: 170px;
  object-fit: cover;
  border-radius: 100%;
  z-index: 1;
}

/* انیمیشن Lottie */
.home-logo-animation {
  position: absolute;
  top: 2;
  left: 2;
  width: 230px;
  height: 230px;
  pointer-events: none;
  z-index: 0; /* پشت لوگو */
}

/* متن خوش‌آمدگویی */
.home-welcome-text {
  font-size: 2rem;
  color: #0f1b30;
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.home-button-container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.home-button {
  display: flex;

  background-color: #6db6ea;
  border: 0;
  border-radius: 14px;
  color: #fff;
  font-size: 48px;
  outline: 0;
  padding: 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  cursor: pointer;
}

/* افکت هاور دکمه */
.home-button:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
    rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
  transform: scale(1.05);
}

/* متن داخل دکمه (مثلاً Voice Chat / Text Chat) */
.home-button span {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
}

/* Fade-in Animation نمونه (دلخواه) */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ریسپانسیو برای اسکرین‌های کوچک */
@media (max-width: 768px) {
  .home-content-container {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .home-left-content {
    padding: 1rem;
    text-align: center;
    gap: 1.5rem;
  }

  .home-button-container {
    flex-direction: column;
    width: 90%;
    text-align: center;
  }

  .home-welcome-section h1 {
    font-size: 1.5rem;
  }

  .home-button {
    width: 100%;
    padding: 35px;
    font-size: 48px;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
  }
  .home-button span {
    font-size: 2rem;
  }

  .home-main-container {
    justify-content: flex-start;
  }
}
